Assignment1/data/*
Assignment1/data
Assignment1/.vscode
Assignment1/.vscode/*
Assignment1/nbmodel.txt
Assignment1/nboutput.txt
Assignment2/data/*
Assignment2/data
Assignment2/.vscode
Assignment2/.vscode/*
Assignment2/per_model.txt
Assignment2/predict_result.txt
Assignment3/data/*
Assignment3/tmp/*
Assignment3/tmp2/*
*.crfsuite
*.idea
*.pyc